/* [next]/internal/font/google/baloo_bhaijaan_2_1ded0ff1.module.css [app-client] (css) */
@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/291c08e55cfb5e69-s.161f58b3.woff2") format("woff2");
  unicode-range: U+6??, U+750-77F, U+870-88E, U+890-891, U+897-8E1, U+8E3-8FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/ffbf93411aa2375a-s.fd8f3aeb.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/8b2ee97f665fd885-s.89d89411.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/17027024292d92a3-s.p.b29197ea.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/291c08e55cfb5e69-s.161f58b3.woff2") format("woff2");
  unicode-range: U+6??, U+750-77F, U+870-88E, U+890-891, U+897-8E1, U+8E3-8FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/ffbf93411aa2375a-s.fd8f3aeb.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/8b2ee97f665fd885-s.89d89411.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/17027024292d92a3-s.p.b29197ea.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/291c08e55cfb5e69-s.161f58b3.woff2") format("woff2");
  unicode-range: U+6??, U+750-77F, U+870-88E, U+890-891, U+897-8E1, U+8E3-8FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/ffbf93411aa2375a-s.fd8f3aeb.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/8b2ee97f665fd885-s.89d89411.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/17027024292d92a3-s.p.b29197ea.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/291c08e55cfb5e69-s.161f58b3.woff2") format("woff2");
  unicode-range: U+6??, U+750-77F, U+870-88E, U+890-891, U+897-8E1, U+8E3-8FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/ffbf93411aa2375a-s.fd8f3aeb.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/8b2ee97f665fd885-s.89d89411.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/17027024292d92a3-s.p.b29197ea.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/291c08e55cfb5e69-s.161f58b3.woff2") format("woff2");
  unicode-range: U+6??, U+750-77F, U+870-88E, U+890-891, U+897-8E1, U+8E3-8FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/ffbf93411aa2375a-s.fd8f3aeb.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/8b2ee97f665fd885-s.89d89411.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/17027024292d92a3-s.p.b29197ea.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Baloo Bhaijaan 2 Fallback";
  src: local(Arial);
  ascent-override: 112.76%;
  descent-override: 65.98%;
  line-gap-override: 0.0%;
  size-adjust: 95.78%;
}

.baloo_bhaijaan_2_1ded0ff1-module__dXFGqq__className {
  font-family: "Baloo Bhaijaan 2", "Baloo Bhaijaan 2 Fallback";
  font-style: normal;
}

.baloo_bhaijaan_2_1ded0ff1-module__dXFGqq__variable {
  --font-baloo-bhaijaan: "Baloo Bhaijaan 2", "Baloo Bhaijaan 2 Fallback";
}

/* [project]/tec-web/src/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after {
      --tw-font-weight: initial;
      --tw-duration: initial;
    }

    ::backdrop {
      --tw-font-weight: initial;
      --tw-duration: initial;
    }
  }
}

.flex {
  display: flex;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-full {
  border-radius: 3.40282e38px;
}

.bg-\[\#1B6F09\] {
  background-color: #1b6f09;
}

.bg-\[\#4d7c0f\] {
  background-color: #4d7c0f;
}

.bg-\[\#E2F67E\] {
  background-color: #e2f67e;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.font-\[var\(--font-baloo-bhaijaan\)\] {
  --tw-font-weight: var(--font-baloo-bhaijaan);
  font-weight: var(--font-baloo-bhaijaan);
}

.text-\[\#1b6f09\] {
  color: #1b6f09;
}

.text-\[\#E2F67E\] {
  color: #e2f67e;
}

.text-\[\#ecfccb\] {
  color: #ecfccb;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacity-50 {
  opacity: .5;
}

.transition-all {
  transition-property: all;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.duration-200 {
  --tw-duration: .2s;
  transition-duration: .2s;
}

@media (hover: hover) {
  .hover\:bg-\[\#3f621c\]:hover {
    background-color: #3f621c;
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#bef264\]:hover {
    background-color: #bef264;
  }
}

@media (hover: hover) {
  .hover\:text-\[\#1B6F09\]:hover {
    color: #1b6f09;
  }
}

:root {
  --background: #1b6f09;
  --foreground: #171717;
  --primary-green: #1b6f09;
  --secondary-green: #15803d;
  --light-green: #4d7c0f;
  --lime-light: #a3e635;
  --lime-bright: #e2f67e;
  --lime-pale: #d9f99d;
  --lime-softer: #bef264;
  --lime-bg: #ecfccb;
  --yellow-bg: #fffbad;
  --yellow-light: rgba(229, 226, 176, .52);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-baloo-bhaijaan), Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-container {
  background-color: var(--primary-green);
  height: 100vh;
  color: var(--lime-bg);
  display: flex;
  overflow: hidden;
}

.login-sidebar {
  background-color: var(--secondary-green);
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  display: none;
  overflow: hidden;
}

@media (min-width: 768px) {
  .login-sidebar {
    display: flex;
  }
}

.login-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 0;
}

.login-form-container {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  padding: 20px;
  display: flex;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .login-form-container {
    width: 50%;
    padding: 40px;
  }
}

.login-title {
  color: var(--lime-bright);
  font-size: 50px;
  font-weight: bold;
  font-family: var(--font-baloo-bhaijaan);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.login-divider {
  width: 100%;
  max-width: 384px;
  color: var(--light-green);
  align-items: center;
  margin: 24px 0;
  display: flex;
}

.login-divider-line {
  background-color: var(--light-green);
  border-radius: 30px;
  flex: 1;
  height: 10px;
}

.login-divider-text {
  color: var(--lime-light);
  padding: 0 8px;
}

.login-signup-text {
  color: var(--lime-pale);
  text-align: center;
  margin-top: 24px;
}

.login-signup-link {
  color: var(--lime-light);
  font-weight: bold;
  text-decoration: none;
}

.login-signup-link:hover {
  text-decoration: underline;
}

.forgot-password {
  text-align: end;
  margin-top: 8px;
}

.login-form {
  width: 100%;
  max-width: 384px;
  font-family: var(--font-baloo-bhaijaan);
  flex-direction: column;
  display: flex;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  color: var(--lime-bright);
  text-align: start;
  font-weight: 500;
  font-family: var(--font-baloo-bhaijaan);
  margin-bottom: 8px;
  display: block;
}

.form-input {
  border: 1px solid var(--primary-green);
  background-color: var(--yellow-light);
  width: 100%;
  color: var(--primary-green);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 100;
  font-family: var(--font-baloo-bhaijaan);
  border-radius: 50px;
  padding: 12px;
}

.form-input::placeholder {
  color: rgba(27, 111, 9, .7);
}

.form-input:focus {
  border-color: var(--lime-light);
  outline: none;
  box-shadow: 0 0 0 2px rgba(163, 230, 53, .2);
}

.login-button {
  background-color: var(--lime-bright);
  width: 80%;
  color: var(--primary-green);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-baloo-bhaijaan);
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  display: block;
}

.login-button:hover {
  background-color: var(--lime-softer);
}

.social-buttons {
  justify-content: center;
  gap: 30px;
  width: 50%;
  margin: 0 0 20px;
  display: flex;
}

.social-button {
  border: 2px solid var(--light-green);
  background-color: var(--lime-bright);
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  padding: 0;
  display: flex;
}

.social-logo {
  object-fit: contain;
  width: 35px;
  height: 35px;
  display: block;
}

.social-button:hover {
  background-color: var(--lime-softer);
}

.page-container {
  background-color: var(--yellow-bg);
  min-height: 100vh;
  overflow-y: hidden;
}

.navbar {
  background-color: var(--yellow-bg);
  height: min-content;
}

.navbar-content {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.navbar-logo {
  justify-content: start;
  width: 150px;
  height: 150px;
  padding-right: 370px;
}

.navbar-links {
  justify-content: center;
  gap: 5rem;
  display: flex;
}

.nav-links {
  color: var(--primary-green);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.nav-links:hover {
  text-decoration: underline;
}

.choose-room-container {
  max-width: 1400px;
  margin: 0 auto;
}

.title {
  color: var(--primary-green);
  font-family: var(--font-baloo-bhaijaan);
  text-align: start;
  font-size: 2.5rem;
}

.btn-primary {
  font-family: var(--font-baloo-bhaijaan) !important;
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__e53b97c1._.css.map*/